# Gradle
.gradle/
build
out

# IntelliJ
.idea/
!.idea/codeStyles
!.idea/inspectionProfiles/Project_Default.xml

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/docker-out

*.DS_Store

.local/
